{% extends '../layout.html' %}
{% block head %}
{% parent %}
{% endblock %}
{% block content %}
<div class="app-main">
  <div  class="container">
    <div class="row app-content">   
      <div class="page-header">
        <h1>Credits</h1>
      </div>
        <div>
          <br />
          <a id="_ctl0_cbhlLogoNew" title="Click to go to the Careerbuilder.com homepage" class="logoHomeLink" href="http://www.careerbuilder.com/"><img src="http://img.icbdr.com/images/js/cb_logo_new_homepage.png" border="0" alt="Careerbuilder.com Job Search" width="180" title="Careerbuilder.com Job Search"></a>
        </div>
        <br />
        <hr />
        <br />
        <script type="text/javascript" src="http://www.careerjet.com/partners/js_logos.html?format=logo_234x60_tr&affid=dd76f6bdddba7c464603416a83181daf"></script>
        <br />
        <br />
        <hr />
        <br />
        <div id="indeed_at"><a
          href="http://www.indeed.com/" title="Job Search"><img
          src="https://ads.indeed.com/jobroll/images/indeed.gif" style="border: 0;
          vertical-align: middle;" alt="Indeed job search"></a>
        </div>
        <br />
        <hr />
        <br /> 
        <div>
          <a href="http://www.linkup.com?aid=68A261" class="linkup-logo"><img src="http://www.linkup.com/images/linkup-logo-header-no-arrows.png" alt="LinkUp"><span class="hide">Job Search Engine</span></a>
        </div>
        <br />
        <hr />
        <br />
        <a href="http://www.simplyhired.com/" style="text-decoration:none;"><img src="http://www.simplyhired.com/c/sh/images/5386471eca2465f866cbd737e5858b313a490e01/sh-108x20.png" alt="Simply Hired"></a>
      </div>
    </div>
  </div>  
  {% endblock %}
  <!-- Source -->
  {% block scripts %}
  {% parent %}
  {% endblock %}